name: Publish Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-22.04
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - uses: actions/checkout@v4

    - name: Create virtual environment
      run: make install
    
    - name: Build Catalog
      run: make build CI=true

    - name: Check Release Version
      run: make release-check
    
    - name: Publish Release
      run: make release

